﻿@{
    ViewBag.Title = "Index";
}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:600" type="text/css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="find col-xs-12 col-sm-8">
                <h1 class="pink"><span class="medium65">FIND</span><span class="Heavy85">TOBUY</span></h1>
                
            <div class="bgblack bg-dark">
                <div class="row">
                    <form class="">
                    <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtEndereco" placeholder="Enter your zipcode or city" />
                    </div>
                    <div class="col-sm-2">
                        <input type="button" onclick="findAcai_();" class="btn btn-pink " value="Find" />
                    </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="clear"></div>
            <div class="bg-dark">
                <div id="mapa" style="height: 550px;"></div>
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6502361.359739763!2d-119.2704153!3d37.271874499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalif%C3%B3rnia!5e0!3m2!1spt-BR!2sbr!4v1401940771100" width="100%" height="450" frameborder="0" style="border:0"></iframe>*@
            </div>
            <div id="list">
                <ul>

                </ul>
            </div>
            <span id="total"></span>
        </div>
        @Html.Partial("~/Views/Shared/_PartialSideBar.cshtml")
    </div>
</div>
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="~/Scripts/Find/index.js"></script>
<script src="~/Scripts/infobox.js"></script>